@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Asegurarnos que el fondo sea negro por defecto */
body {
    background-color: #171717; /* neutral-900 */
    margin: 0;
    padding: 0;
}